.chat-other-message-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 0.5rem;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 200px;
}
.chat-other-message-container_timestamp {
  margin-left: auto;
}