.login-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  padding: 2rem;
  background: linear-gradient(#ffc8c8, #d5d9ff);
}
.login-container__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-container__form__button {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
  align-self: center;
  font-size: 1rem;
  transition: 300ms;
}
.login-container__form__button:hover {
  background-color: #9198e5;
  color: #fff;
  font-weight: 400;
  transition: 300ms;
}
.login-container__form__input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: rgb(50 50 93 / 25%) 0px 10px 10px -12px inset, rgb(0 0 0 / 30%) 0px 10px 30px -18px inset;
}
.login-container__form_label {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
@media(min-width: 768px) {
  .login-container {
  width: 40vw;
  margin-top: 10vh;
  }
  .login-container__form__button {
    width: 10vw;
  }
}